@model CourseSelectionMCV.Models.GeneralCoursesWishlist

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GeneralCoursesWishlist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StudentID" class="control-label"></label>
                <select asp-for="StudentID" class="form-control" asp-items="ViewBag.StudentID"></select>
                <span asp-validation-for="StudentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice_1" class="control-label"></label>
                <select asp-for="Choice_1" class="form-control" asp-items="ViewBag.Choice_1"></select>
                <span asp-validation-for="Choice_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice_2" class="control-label"></label>
                <select asp-for="Choice_2" class="form-control" asp-items="ViewBag.Choice_2"></select>
                <span asp-validation-for="Choice_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice_3" class="control-label"></label>
                <select asp-for="Choice_3" class="form-control" asp-items="ViewBag.Choice_3"></select>
                <span asp-validation-for="Choice_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice_4" class="control-label"></label>
                <select asp-for="Choice_4" class="form-control" asp-items="ViewBag.Choice_4"></select>
                <span asp-validation-for="Choice_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice_5" class="control-label"></label>
                <select asp-for="Choice_5" class="form-control" asp-items="ViewBag.Choice_5"></select>
                <span asp-validation-for="Choice_5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice_6" class="control-label"></label>
                <select asp-for="Choice_6" class="form-control" asp-items="ViewBag.Choice_6"></select>
                <span asp-validation-for="Choice_6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice_7" class="control-label"></label>
                <select asp-for="Choice_7" class="form-control" asp-items="ViewBag.Choice_7"></select>
                <span asp-validation-for="Choice_7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice_8" class="control-label"></label>
                <select asp-for="Choice_8" class="form-control" asp-items="ViewBag.Choice_8"></select>
                <span asp-validation-for="Choice_8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice_9" class="control-label"></label>
                <select asp-for="Choice_9" class="form-control" asp-items="ViewBag.Choice_9"></select>
                <span asp-validation-for="Choice_9" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice_10" class="control-label"></label>
                <select asp-for="Choice_10" class="form-control" asp-items="ViewBag.Choice_10"></select>
                <span asp-validation-for="Choice_10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

